body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    align: center;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #444;
    color: white;
}

table img {
    width: 80%;
}
